In [1]:
# imports
import pandas as pd
import geopandas as gpd

In [2]:
# load data
df = pd.read_csv('data/AeroConnectData.csv')

In [3]:
# streamline data so it has route column
df['Route'] = df['AustralianPort'] + ' <-> ' + df['ForeignPort'] + ' (' + df['Country'] + ')'

In [11]:
# 1a: most trafficked routes
numRoutes = 10
top_routes_passengers = df.groupby('Route')['Passengers_Total'].sum().sort_values(ascending=False).head(numRoutes)
top_routes_freight = df.groupby('Route')['Freight_Total_(tonnes)'].sum().sort_values(ascending=False).head(numRoutes)
top_routes_mail = df.groupby('Route')['Mail_Total_(tonnes)'].sum().sort_values(ascending=False).head(numRoutes)
print("top passenger routes")
print(top_routes_passengers)
print("top freight routes")
print(top_routes_freight)
print("top mail routes")
print(top_routes_mail)

top passenger routes
Route
Sydney <-> Auckland (New Zealand)        2961212
Sydney <-> Singapore (Singapore)         1440018
Sydney <-> Tokyo (Japan)                 1292116
Sydney <-> Hong Kong (Hong Kong)         1151900
Perth <-> Singapore (Singapore)           952926
Brisbane <-> Auckland (New Zealand)       893246
Sydney <-> Christchurch (New Zealand)     882357
Melbourne <-> Singapore (Singapore)       865251
Sydney <-> Los Angeles (USA)              862964
Sydney <-> Honolulu (USA)                 861814
Name: Passengers_Total, dtype: int64
top freight routes
Route
Sydney <-> Auckland (New Zealand)       126712.789
Sydney <-> Tokyo (Japan)                 79155.928
Sydney <-> Singapore (Singapore)         69312.404
Sydney <-> Los Angeles (USA)             68730.618
Perth <-> Singapore (Singapore)          53565.240
Sydney <-> Hong Kong (Hong Kong)         51612.532
Melbourne <-> Singapore (Singapore)      49391.343
Melbourne <-> Auckland (New Zealand)     42042.812
Melbourne <-> Hong Kong (Hong Kong)      39495.266
Melbourne <-> Los Angeles (USA)          33606.389
Name: Freight_Total_(tonnes), dtype: float64
top mail routes
Route
Sydney <-> Auckland (New Zealand)             3280.777
Sydney <-> London (UK)                        2709.269
Sydney <-> Tokyo (Japan)                      2423.636
Sydney <-> San Francisco (USA)                2127.115
Melbourne <-> London (UK)                     1780.704
Sydney <-> Frankfurt (Germany)                1320.121
Sydney <-> Port Moresby (Papua New Guinea)    1220.215
Melbourne <-> Frankfurt (Germany)             1201.324
Melbourne <-> San Francisco (USA)             1160.366
Sydney <-> Singapore (Singapore)              1147.666
Name: Mail_Total_(tonnes), dtype: float64

In [12]:
# 1a: least trafficked routes
numRoutes = 10
top_routes_passengers = df.groupby('Route')['Passengers_Total'].sum().sort_values(ascending=True).head(numRoutes)
top_routes_freight = df.groupby('Route')['Freight_Total_(tonnes)'].sum().sort_values(ascending=True).head(numRoutes)
top_routes_mail = df.groupby('Route')['Mail_Total_(tonnes)'].sum().sort_values(ascending=True).head(numRoutes)
print("bottom passenger routes")
print(top_routes_passengers)
print("bottom freight routes")
print(top_routes_freight)
print("bottom mail routes")
print(top_routes_mail)

bottom passenger routes
Route
Melbourne <-> Denver (USA)                0
Brisbane <-> Colombo (Sri Lanka)          0
Brisbane <-> Chicago (USA)                0
Perth <-> Bandar Seri Begawan (Brunei)    0
Adelaide <-> Harare (Zimbabwe)            0
Townsville <-> San Francisco (USA)        1
Cairns <-> Honiara (Solomon Islands)      1
Darwin <-> Zagreb (Yugoslavia)            1
Hobart <-> Tokyo (Japan)                  1
Hobart <-> Los Angeles (USA)              2
Name: Passengers_Total, dtype: int64
bottom freight routes
Route
Townsville <-> Zagreb (Yugoslavia)     0.0
Darwin <-> Kuala Lumpur (Malaysia)     0.0
Darwin <-> Copenhagen (Denmark)        0.0
Darwin <-> Bombay (India)              0.0
Darwin <-> Belgrade (Yugoslavia)       0.0
Sydney <-> Ljubljana (Yugoslavia)      0.0
Cairns <-> Wellington (New Zealand)    0.0
Cairns <-> Papeete (Tahiti)            0.0
Cairns <-> Nagoya (Japan)              0.0
Cairns <-> Manchester (UK)             0.0
Name: Freight_Total_(tonnes), dtype: float64
bottom mail routes
Route
Adelaide <-> Abu Dhabi (United Arab Emirates)    0.0
Hobart <-> Manila (Philippines)                  0.0
Hobart <-> San Francisco (USA)                   0.0
Hobart <-> Singapore (Singapore)                 0.0
Hobart <-> Tokyo (Japan)                         0.0
Melbourne <-> Bandar Seri Begawan (Brunei)       0.0
Melbourne <-> Beijing (China)                    0.0
Melbourne <-> Buenos Aires (Argentina)           0.0
Melbourne <-> Copenhagen (Denmark)               0.0
Melbourne <-> Denver (USA)                       0.0
Name: Mail_Total_(tonnes), dtype: float64